@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Stick+No+Bills&family=Ubuntu&family=Unlock&display=swap');


.order-container
{
    
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width:500px;
}
.order-card
{
   height: 400px;
   flex-shrink: 0;
   border-radius: 10px;
   background: #FFDD61;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   width: 90%;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 20px;
}
.order-list-container
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
}



/* CSS */
.order-details-button {
  width: 120px;
  margin: 5px;
  appearance: button;
  background-color: #260F67;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.order-details-button:disabled {
  opacity: .5;
}

.order-details-button:focus {
  outline: 0;
}

.order-details-button:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.order-details-button:active {
  background-color: #0039D7;
  border-color: #0039D7;
}
.star-rating {
  font-size: 2em;
  margin: 30px;
  width: 200px;
}

.star {
  color: #ccc;
  cursor: pointer;
}

.filled {
  color: rgb(236, 216, 0);
}
.star-rating p
{
  font-size: medium;
}
.review-page
{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.review-form
{
  display: flex;
  flex-direction: column;
  margin: 30px;
  
}

.review-form label
{
  font-family: 'Stick No Bills', sans-serif;
  font-size: 30px;
}
.review-form textarea
{
  width: 500px;
  height: 200px;
}
.review-form h2
{
  color: #D80000;
font-family: Stick No Bills;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
}
.item
{
  width: 500px;
  height: 700px;
}