body
{
  background-color: #FBF7E5; 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.complaints{
  position: relative;
  top:120% ;
  display: flex;
padding: 17px 118px 44px 26px;
align-items: flex-start;
gap: 100px;
flex-direction: row;
background-color: #FBF7E5;

}
.complaints-num{
  color: #DB0606;
  font-family: Impact;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  width: 44px;
height: 36px;
margin-left: 200px;
background-color: #FBF7E5;
}
.complaints-text h1{
background-color: #FBF7E5;
height: 80px;
}

.complaints-text {
  background-color: #FFDD61;
  height: 80px;
  }

.btn{
  background-color: #FBF7E5;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-family: "Inria Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 2.8px;
  color: #000;
  border: none;
  cursor: pointer;
}