@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: sticky;
}

.navitems {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
}


.navitems a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.navitems a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.navitems a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
