@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*//////////////////////////////*/

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: #FBF7E5;
}
.navbartech {
  padding: 20px;
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
  background-color: #FFDD61;
}

.navbartech *
{
  background-color: #FFDD61;
}

.navitems
{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.navclicked
{
  color: #260F67;
  text-decoration: underline;
  text-decoration-color: #260F67;
}

.navbartech li
{
  width: 20%;
}

.navbartech li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 54, 14);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navtech-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.navbartech h1 {
  color: #f1356d;
}
.navbartech .links {
  margin-left: auto;
}
.navbartech a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
 position: relative;
}
.navbartech a:hover {
  color: #260F67;
  text-decoration: none;
 font-size: 17px;
 transition: 0.2s;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home 
{
  height: 455px;
  background-color: #FFDD61;
}
.home *
{
  /* height: 455px; */
  background-color: #FFDD61;
}
.Welcome
{
  position: absolute;
  top: 33%;
  left: 50%;
}



.navbartech a::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: rgb(30, 30, 77);
transform: scaleX(0);
transition: transform 0.3s ease;
}

.navbartech a:hover::before {
transform: scaleX(1);
}

.probutton
{
background-color: #260F67;
border: #260F67;
}

.editbtn
{
width: 200px;
}

.probtn
{
background-color: #260F67;
border-radius: 6px;
border-color: #260F67;
color: aliceblue;
height: 60px;
width: 150px;
margin-top: 40px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.probtn:hover
{
background-color: aliceblue;
color: #260F67;
border: 2 solid #260F67;
transition-duration: 0.2s;

}

.probtnclicked
{
background-color: aliceblue;
color: #260F67;
border: 2 solid #260F67;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.procontainer
{
display: flex;
justify-content: center;
justify-content: space-evenly;
}

.Offercard *
{
background-color: #FFDD61;
}

.Offercard
{
height: 300px;
width: 350px;
display: flex;
align-items: center;
flex-direction: column;
padding: 40px;
border: 1px solid #260F67;
border-radius: 10px;
margin: 30px;
margin-left: 90px;
background-color: #FFDD61;

}

.UpOffercard
{
height: 300px;
width: 350px;
display: flex;
align-items: center;
flex-direction: column;
padding: 30px;
border: 1px solid #260F67;
border-radius: 10px;
margin: 30px;
margin-left: 90px;
background-color: #ffe895;
}
.UpOffercard *
{
background-color: #ffe895;
}

.cards
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* visibility: hidden; */
}

.showoffers
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* visibility: visible; */
}

.uploadfields
{
background-color: #cfcece;
margin: 8px;
border-radius: 6px;
color: #333;
}
.uploadbtn
{
background-color: #260F67;
color: aliceblue;
padding: 8px;
border-radius: 5px;
width: 90px;
}

.addofferbtn
{
background-color: #260F67;
color: aliceblue;
padding: 8px;
border-radius: 5px;
width: 90px;
}



.highlightsbtns
{
display: flex;
/* justify-content: center; */
justify-content: space-evenly;
}

.workcard
{
background-color: #3d1d94;
width: 450px;
color: #cfcece;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 30px;
border-radius: 10px;
margin: 30px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.workcard *
{
background-color: #3d1d94;
color: #cfcece;
}

.removebtn
{
background-color: red;
height: 35px;
width: 35px;
border-radius: 35px;
margin: 5px;
}

.addbtn
{
background-color: rgb(0, 192, 0);
height: 35px;
width: 35px;
border-radius: 35px;
margin: 5px;
}

.removebtn *
{
background-color: red;
}
.addbtn *
{
background-color: rgb(0, 192, 0);
}

.workimg
{
border: 1px solid bisque;
border-radius: 5px;
}
