.Offercard *
{
background-color: #FFDD61;
}

.btnpos
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.offerbtn
{
    background-color: #260F67;
    color:aliceblue;
    border-radius: 10px;
    border-color: #260F67;
    padding: 10px;
    margin: 20px;

}

.offerbtn:hover
{
    background-color:aliceblue;
    color:#260F67;
}

button.trashbtn
{
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    margin: 10px;
}

.trashbtn *
{
    background-color: red;
}

.Offercard
{
height: 240px;
width: 350px;
display: flex;
align-items: center;
flex-direction: column;
padding: 15px;
border: 1px solid #260F67;
border-radius: 10px;
margin: 30px;
margin-left: 90px;
background-color: #FFDD61;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

}

.UpOffercard
{
width: 750px;
display: flex;
align-items: center;
flex-direction: column;
padding: 30px;
border: 1px solid #260F67;
border-radius: 10px;
margin: 30px;
margin-left: 90px;
background-color: #ffe895;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

}
.UpOffercard *
{
background-color: #ffe895;
}

.cards
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* visibility: hidden; */
}

.showoffers
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* visibility: visible; */
}

.uploadfields
{
background-color: #cfcece;
margin: 8px;
border-radius: 6px;
color: #333;
}
.uploadbtn
{
background-color: #260F67;
color: aliceblue;
padding: 8px;
border-radius: 5px;
width: 90px;
}

.offerbtncontainer
{
    display: flex;
    flex-direction: row;
    /* flex-basis: 50%; */
}

.upofferbtn
{
    background-color: #260F67;
    border: #260F67;
    border-radius: 10px;
    text-align:center;
    /* height: 30px; */
    padding: 8px;
    margin: 8px;
    font-size: 18px;
}


.formcontainer
{
    display: flex;
    justify-content: center;
    padding: 50px;
}