/* styles.css */
@import url('https://fonts.cdnfonts.com/css/mrs-sheppards');
/* Container Style */
.ContainerStyle {
    background: #FFF;
    width: 1535px;
    height: 680px;
    display: flex;
    flex-direction: row;
}

/* First Container Style */
.FirstContainerStyle {
    background: #FFDD61;
    width: 600px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Second Container Style */
.SecondContainerStyle {
    background: #FFF;
    width: 801px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

/* Welcome Style */
.welcomeStyle {
    color: #FFF;
    font-family: "Inria Serif";
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.8px;
}

/* Sanay3y Style */
.sanay3yStyle {
    color: #FFF;
    font-family: "Mrs Sheppards";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 4.16px;
}

/* Login Button Style */
.loginBtnStyle {
    background: #FFDD61;
    width: 200px;
    height: 40px;
    color: #FFF;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Login Textbox Style */
.loginTextBoxStyle {
    background: #FFF;
    width: 500px;
    height: 50px;
    color: #000;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}


  